body {
  background-color: lavender;
  margin-left: 20%;
  margin-right: 20%;
  font-family: Times, serif;
  border: 2px black dotted;
  padding: 10px;
}

.employee-table{
  border: darkblue;
}

span {
  padding: 3px;
}

span.task {
  color: darkblue;
  display: inline-block;
  width: 35%;
}

input[type="text"] {
  border-radius: 6px;
  padding: 4px;
}

button.taskButton {
  background-color: whitesmoke;
  margin-top: 10px;
  border-radius: 6px;
  padding: 3px;
  width: 35%;
}

button.taskButton:hover {
  background-color: dodgerblue;
  color: white;
}

button.delete {
  background-color: lightgrey;
  margin-top: 10px;
  border-radius: 6px;
  padding: 3px;
  width: 20%;
  position: static;
}

button.delete:hover {
  background-color: indianred;
  color: white;
}

